@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Badlogin";
}

<div id="window_overlay"></div>
<div id="window_entrance" class="window_content">
    <a href="Index" class="window_close">&times;</a>
    <h2>Podałeś błędne dane logowania</h2><br>
    Jeżeli chcesz skorzystać z wersji demonstracyjnej wpisz admin admin
</div>