@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dzień dobry</h1>
    <p>Posegregujmy twoje zgłoszenia.</p>
</div>


<div>
    Aplikacja będzie zawierać różnego rodzaju dane zgłaszających i będzie sortować je od góry do dołu. <br />
    Ustawianie priorytetów oraz możliwości zamykania danych zgłoszeń po "realizacji"
</div>



