@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dzień dobry</h1>
    <p>Posegregujmy twoje zgłoszenia</a>.</p>
</div>

@model LoginGet
<div>
    <form asp-action="logowanie" asp-controller="Home" method="post">
        Login<br />
        <input type="text" id="login" name="login" /><br />
        Password<br />
        <input type="password" id="password" name="password"/>
        <br />
        <input type="submit" value="Zaloguj" />
    </form>
</div>