@{
    ViewData["Title"] = "Dziękujemy za wyslanie zapytania";
}

<div class="text-center">
    <h3 class="display-4">Dziękujemy za kontakt</h3>
    <p></p>
</div>


<div>
    Support zgłosi się do pana w najbliższym czasie.
</div>



