@{
    ViewData["Title"] = "DEMO";
    Layout = "LoginLayout";
}
<h1>@ViewData["Title"]</h1>

<p>Text do testów</p>

To działa

<div>
    <img src="https://i.pinimg.com/550x/fc/8a/17/fc8a173c0fd13937f70be6e864dd2f36.jpg" />
</div>
